*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Rubik", sans-serif;
  --fs-h1: 6rem;
  --fs-h2: 3rem;
  --fs-h3: 2rem;
  --fs-tag: 1.125rem;
  --fs-subs: 1.313rem;
  --fs-pj-tag: 0.875rem;
  --fs-p-l: 1.313rem;
  --fs-p-m: 1rem;
  --fs-p-s: 0.875rem;
  --fs-h1-s: 5rem;
  --fs-h2-s: 2.5rem;
  --fs-h3-s: 2rem;

  --clr-dark: #121e27;
  --clr-red: #9c356d;
  --clr-yellow: #fcd68b;
  --clr-orange: #f9784c;
  --clr-light: #fefaee;

  --bg-grd: ;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  line-height: 1.6;
  background-image: var(--clr-light);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-light);
  font-weight: 700;
  background-color: var(--clr-orange);
  padding: 0.5em 1.5em;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.btn_action {
  background-color: var(--clr-light);
  color: var(--clr-orange);
  border: 2px solid var(--clr-orange);
}
section {
  padding: 2em 0;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

p {
  color: var(--clr-dark);
}

.light > * {
  color: var(--clr-light);
}

.light_text {
  color: var(--clr-light);
}
.dark_text {
  color: var(--clr-dark);
}

header {
  background-color: #171717;
  padding: 1em 0;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--clr-orange);
  color: var(--clr-light);
  transition: opacity 300ms ease;
  position: absolute;
  right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav__list {
  list-style: none;
  padding: 0;
  list-style: none;
}
.nav__list--primary {
  margin-bottom: 1em;
}

.nav__list--secondary {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.nav__link--button {
  background-color: var(--clr-orange);
  color: var(--clr-light);
  border-radius: 2rem;
  padding: 0.3em 0.5em;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.logo {
  font-size: 1.3rem;
  text-decoration: none;
  color: #fefaee;
}

/* Hero style */

.hero {
  padding: 6rem 0;
  background: var(--clr-yellow);
}

.hero_toptitle {
  color: var(--clr-orange);
}

.hero_title {
  line-height: 1;
  font-size: var(--fs-h2-s);
  margin-bottom: 1rem;
}

.hero_subtitle {
  margin-top: 0;
}

.hero_logo {
  display: none;
}

/* About section style */

.about {
  background-color: var(--clr-light);
}

.section_toptitle {
  color: var(--clr-orange);
  text-align: center;
  margin-top: 0;
}

.section_title {
  text-align: center;
  line-height: 1.2;
  font-size: var(--fs-h2-s);
  margin-bottom: 2rem;
}

.about__img {
  display: block;
  margin: 2em auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text_container {
  text-align: justify;
  line-height: 1.4;
}
/* .text_container > p {
  color: var(--clr-light);
} */

/* My work */

.work {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-yellow);
}

/* swiper */

.swiper {
  /* height: 100vh; */
  overflow: hidden;
  margin-bottom: 2rem;
}
.card {
  border-radius: 2rem;
  background-color: var(--clr-light);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
}
.image-content {
  position: relative;
  row-gap: 0.5rem;
  padding: 2rem 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--clr-orange);
  border-radius: 2rem 2rem 0 2rem;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3rem;
  height: 3rem;
  width: 3rem;
  background-color: var(--clr-orange);
  outline: none;
  box-shadow: none;
}
.overlay::after {
  border-radius: 0 2rem 0 0;
  background-color: var(--clr-light);
}
.card-image {
  position: relative;
  height: 400px;
  padding: 0.5rem;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
  border: 2px solid var(--clr-light);
}
.name {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--clr-dark);
}
.description {
  font-size: 0.9rem;
  color: #707070;
  text-align: center;
  height: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  transition: transform 0.3s ease;
  color: #fa7c52;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  color: var(--clr-orange);
}
.swiper-button-next {
  right: -2rem;
  color: var(--clr-orange);
}
.swiper-button-prev {
  left: -2rem;
  color: var(--clr-orange);
}
.swiper-pagination-bullet {
  background-color: #fa7c52;
}
.swiper-pagination-bullet-active {
  background-color: var(--clr-orange);
}
/* swiper end */

.btn:hover span {
  right: 0;
}

.btn span {
  position: relative;
  right: -1rem;
  transition: all 300ms ease-out;
}

.btn i {
  width: 1.8rem;
  opacity: 0;
  position: relative;
  right: 1rem;
  transition: all 300ms ease-out;
}

.btn:hover i {
  opacity: 1;
  right: -1rem;
}
/* Contact style*/
.contact {
  background-color: var(--clr-dark);
  text-align: center;
}

.contact_card {
  text-align: center;
  background-color: var(--clr-orange);
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 0.5em 1.5em;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
.link {
  text-decoration: none;
  color: var(--clr-light);
  font-weight: 500;

  border-radius: 20px;
}
.link * {
  text-align: center;
}

/* Footer style */
.footer {
  text-align: center;
  padding: 0.5em;
  border-top: 2px solid var(--clr-orange);
  background-color: var(--clr-dark);
}

/* Media query - pentru ecran mare, peste 800px  */
@media (min-width: 768px) {
  body {
    line-height: 1.6;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    position: relative;
  }
  .nav__list--secondary {
    gap: 0;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }
  .nav__item {
    margin: 0 0 0 1.5em;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }

  .hero__text {
    width: 62%;
  }

  .hero__img {
    width: 32%;
    align-self: center;
    margin: 0;
  }

  .hero_logo {
    display: inline-block;
    width: 33%;
  }

  .row .text_container {
    line-height: 1.6;
  }
  .portret_container {
    width: 33%;
  }
  .text_container {
    width: 60%;
  }
  .cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span;
    gap: 10%;
    padding: 2em 0;
  }
  .card_body {
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .swiper-button-next {
    right: -2.5rem;
  }
  .swiper-button-prev {
    left: -2.5rem;
  }
  .contact {
    text-align: left;
  }
  .contact_links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .contact_card {
    flex: 1;
    letter-spacing: 0.1em;
  }
}
